.x {
  display: flex;
  width: 80vw;
  height: 80vh;
  background-color: rgb(226, 233, 238);
  /* overflow: hidden; */
}

.side1 {
  /* background-color: rgb(21, 255, 0); */
  /* float: left; */
  width: 80%;
  margin: 10px;
  padding: 10px;
}
.side2 {
  background-color: rgb(223, 222, 211);
  width: 20%;
  height: 100%;
  /* float: left; */
}
