.x {
  display: flex;
  width: 100vw;
  height: 90vh;
  background-color: rgb(226, 233, 238);
  /* overflow: hidden; */
}

.side1 {
  /* background-color: rgb(21, 255, 0); */
  /* float: left; */
  width: 80vw;
  height: 90vh;
  margin: 10px;
  padding: 10px;
  /* overflow: scroll; */
}
.side2 {
  background-color: rgb(223, 222, 211);
  width: 20vw;
  height: 90vh;
  overflow: scroll;
}
