.p {
  word-break: break-all;
}

.sender {
  background-color: antiquewhite;
  text-align: right;
}
.receiver {
  background-color: rgb(238, 213, 180);
  text-align: left;
}
.time {
  font-size: 15px;
  font-style: italic;
}

.form {
  position: sticky;
  bottom: 0px;
  background-color: rgb(72, 185, 185);
}
.chat {
  height: 80vh;
  overflow: scroll;
}

.sent {
  background-color: brown;
}
