.x {
  display: flex;
  width: 100vw;
  height: 100vh;

  /* background-color: red; */
}
.side1 {
  background-color: rgb(223, 222, 211);
  width: 15%;
  height: 100%;
  /* float: left; */
}
.side1 ul {
  position: -webkit-sticky;
  display: block;
  position: sticky;
  top: 110px;
  list-style-type: none;
  text-decoration: none;
}
.side1 li a {
  display: block;
  background-color: white;
  margin-top: 5px;
  padding: 5px;
  list-style-type: none;
  text-decoration: none;
}
.side2 {
  /* background-color: rgb(21, 255, 0); */
  /* float: left; */
  width: 60%;
  margin: 10px;
  padding: 10px;
  height: fit-content;
}
.side3 {
  /* background-color: rgb(255, 238, 0); */
  /* float: left; */
  width: 25%;
}
.col {
  background-color: black;
}
